* {
    margin: 0;
    padding: 0;
    --var-background: #fff;
    --var-color-text: #000000;
    --var-font-princ: 'PT Serif', serif;
    --var-font-sec: 'Popins', sans-serif;
}

body {
    background: var(--var-background);
    max-width: 800px;
    margin: 0 auto;
}


/* Styles of Heading */

#heading {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(270px, 1fr));
    max-width: 100%;
    height: auto;
    align-items: center;
}

.titulo h1 {
    font-family: var(--var-font-princ);
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    color: var(--var-color-text);
}

.description {
    display: grid;
    grid-template-columns: 1fr;
    align-items:flex-end;
    grid-gap: 1.5rem;
    margin-top: 4rem;
    max-width: 100%;
}

.description h3 {
    font-family: var(--var-font-sec);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: var(--var-color-text);
    
}

.description p {
    font-family: var(--var-font-sec);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: var(--var-color-text);
}

/* Styles de Main */

#principal {
    margin-top: 2rem;
    width: 100%;
    height: auto;
}

.primero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 3rem;
    max-width: 100%;
    height: auto;
}

.image {
    display: grid;
    grid-template-columns: 75% 20%;
    grid-gap: .5rem;
    height: 100%;
    max-width: 100%;
}

.black {
    margin-top: 2rem;
}

@media (max-width: 838px) {
    body {
        max-width: 500px;
    }

    .black {
        margin-top: 0;
    }

    footer {
        height: 5rem;
    }

    .izquierda {
        margin-top: 2rem;
    }
}

@media (max-width: 540px){
    body {
        max-width: 400px;
    }
}

@media ( max-width: 400px) {
    body {
        max-width: 300px;
    }

    .primero {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}

.image p {
    font-family: var(--var-font-princ);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--var-color-text);
    width: 20px;
    writing-mode: vertical-lr;
}


.image img {
    max-width: 100%;
    height: auto;
}

.image h3 {
    font-family: var(--var-font-sec);
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    font-style: normal;
    height: 3rem;
    max-height: 100%;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: .5rem;
    width: 100%;
    height: 10rem;
}

footer p {
    font-family: var(--var-font-sec);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #A9A9A9;
    text-align: center;
}